@import '~react-image-crop/lib/ReactCrop.scss';

body {
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

.cropper {
    max-width: 980px;
    margin: 40px auto;
    text-align: center;
    &__buttons {
        margin: 40px 0;
    }
}
