@import '~cropperjs/dist/cropper.min.css';

body {
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

.cropper-preview {
    width: 500px;
    margin: 40px auto;
    img {
        max-width: 100%;
    }
}

.upload-img {
    text-align: center;
    &__input {
        display: none;
    }
    .el-button {
        margin-right: 8px;
    }
}
